.body{
    width: 0px;
    height: 0px;
    box-sizing: border-box;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.7);
}

.wrapper .card{
    max-width: 300px;
    background-color: white;
    padding: 40px;
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),3px 3px 10px -1px rgba(255,255,255,0.7);
}

.wrapper .card.active{
    background-color: #5f30e2;
    transform: scale(1, 1.09);
}

.wrapper .card.active .ribbon-wrap{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
}

.wrapper .card.active .ribbon-wrap::before, .ribbon-wrap::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f2467b;
    position: absolute;
    z-index: -1;
}

.wrapper .card.active .ribbon-wrap::before{
    top: 0;
    right: 0;
}

.wrapper .card.active .ribbon-wrap::after{
    bottom: 0;
    left: 0;
}

.wrapper .card.active .ribbon{
    width: 225px;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    background: #ff2166;
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    right: -17%;
    top: 29%;
}

.wrapper .card h3{
    margin-bottom: 15px;
}

.wrapper .card h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: rgba(0,0,0,1);
}

.wrapper .card.active h1{
    color: rgba(255,255,255,1);
    padding: 13px 0;
}

.wrapper .card h1 span{
    font-size: 12px;
    color: rgba(0,0,0,0.7);
}

.wrapper .card.active h1 span{
    color: rgba(255,255,255,0.9);
}

.wrapper .card p{
    margin: 20px 0;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    line-height: 1.5;
}

.wrapper .card.active p{
    color: rgba(255,255,255,1);
}

.wrapper .card ul{
    list-style: none;
}

.wrapper .card ul li{
    line-height: 3;
    color: rgba(0,0,0,0.9);
}

.wrapper .card.active li{
    color: rgba(255,255,255,0.9);
}

.wrapper .card ul li i{
    margin-right: 10px;
    color: rgba(0,0,0,0.4);
}

.wrapper .card ul li s{
    margin-right: 10px;
    color: rgba(0,0,0,0.4);
}

.wrapper .card.active li i{
    color: rgba(255,255,255,0.9);
}

.wrapper .card a{
    margin: 20px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    border: 1px solid #5f30e2;
    color: #5f30e2;
    padding: 15px;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 5px;
}

.wrapper .card.active a{
    background-color: white;
    color: rgba(0,0,0,0.8);
}

.wrapper .card a:hover{
    background-color: #5f30e2;
    color: white;
}

.wrapper .card.active a:hover{
   border: 1px solid white;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Segoe UI';
    font-weight: 400;
    background-color: #ededed;
}

.footer {
    padding: 40px 0;
    background-color: #fff;
}

.footer .social {
    text-align: center;
    padding-bottom: 25px;
    color: #4b4b4b;
}

.footer .social a{
    font-size: 24px;
    color: inherit;
    border: 1px solid #ccc;
    width: 40px;
    height: 40px;
    line-height: 38px;
    display: inline-block;
    text-align: center;
    border-radius: 50%;
    margin: 0 8px;
    opacity: 0.75;
}

.footer .social a:hover{
    opacity: 0.9;
}

.footer ul{
    margin-top: 0;
    padding: 0;
    list-style: none;
    font-size: 18px;
    line-height: 1.6;
    margin-bottom: 0;
    text-align: center;
}

.footer ul li a{
    color: inherit;
    text-decoration: none;
    opacity: 0.8;
}

.footer ul li{
    display: inline-block;
    padding: 0 15px;
}

.footer ul li a:hover{
    opacity: 1;
} 

.footer .copyright{
    margin-top: 15px;
    text-align: center;
    font-size: 13px;
    color: #aaa;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    color: #31627c;
    text-decoration: none;
  }
  
  a:hover {
    color: #45beff;
    text-decoration: none;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    color: #4fa6d5;
    text-decoration: none;
  }
  
  a:hover {
    color: #10161a;
    text-decoration: none;
  }
  
  #header.header-transparent {
    background: none;
  }
  
  #header .logo h1 {
    font-size: 28px;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  body {
    font-family: "Open Sans", sans-serif;
    color: #444;
  }
  
  a {
    color: #4fa6d5;
    text-decoration: none;
  }
  
  a:hover {
    color: #45beff;
    text-decoration: none;
  }
  
  #header {
    height: 80px;
    transition: all 0.5s;
    z-index: 997;
    transition: all 0.5s;
    background: rgba(0,0,0,0.2);
  }
  
  #header .logo h1 {
    font-size: 28px;
    margin: 0;
    padding: 4px 0;
    line-height: 1;
    font-weight: 400;
    letter-spacing: 3px;
    text-transform: uppercase;
  }
  
  #header .logo h1 a{
    color: #fff;
    text-decoration: none;
  }
  
  .navbar {
   height: 0px;
    float: right;
    padding: 0;
  }
  
  .navbar ul {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    align-items: center;
  }
  
  .navbar ul li a{
    position: relative;
    width: 20%;
  }
  
  .navbar li a{
    text-transform: uppercase;
    display: block;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 30px;
    font-family: "Open Sans", sans-serif;
    font-size: 20px;
    color: #fff;
    white-space: nowrap;
    transition: 0.3s;
  }
  .navbar a:hover {
    color: #a2cce3;
  }
  
   
  .bg{
    background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(./Images/bgimg.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
  }
  *{
    margin:0;
    padding:0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.login-btn{
    padding:20px 25px;
    background-color: black;
    color:white;
    cursor: pointer;
    z-index:1;
    top:0;
    position:fixed;
}
.login-btn{
    position:relative;
    padding: 15px 20px;
    font-size:20px;
    font-weight: 500;
    background-color:#5f30e2;
    color:#fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    border-radius: 5px;
    text-decoration: none;
    overflow:hidden;
    
}
.login-btn::before{
    content:"";
    position:absolute;
    left:50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height:0;
    background-image: linear-gradient(rgba(0,0,0.4),rgb(0,0,0.4));
    border-radius: 50%;
    transition: width 0.5s, height 0.5s;
}

.login-btn:hover::before{
    width: 400px;
    height: 400px;
}
.login-btn spam{
    position: relative;
    z-index: 1;
}
.overlay{
    width:100%;
    height:100vh;
    background: rgba(0,0,0,0.5);
    position: fixed;
    top:0;
    z-index:-1;
    opacity: 0;
    transition: 1s;
    
}
.showoverlay{
    opacity: 1;
    z-index: 1;
}
.container{
   
    width: 100%;
    height: 100vh;
    
    background-position: center;
    background-size: cover;
    position: relative;
 }
 
 
 .form-box{
     width: 90%;
     max-width: 450px;
     position: absolute;
     top: -50%;
     left: 50%;
     z-index:5;
     transform: translate(-50%,-50%);
     transition: 2s;
     background: #fff;
     padding: 50px 60px 70px;
     text-align: center;
     box-shadow: 0px 0px 10px 3px #ccc;
 }
 .showform-box{
    top:50%;
 }
 .form-box span{
    position:absolute;
    top:0;
    right:0;
    color:#fff;
    line-height: 40px;
    width:40px;
    height:40px;
    background-color: #5f30e2;
    text-align: center;
    cursor: pointer;


 }
 
 
 .form-box h1{
     font-size: 30px;
     margin-bottom: 60px;
     color: #5f30e2;
     position: relative;
 }
 
 .form-box h1::after{
     content: '';
     width: 30px;
     height: 4px;
     border-radius: 3px;
     background: #5f30e2;
     position: absolute;
     bottom: -12px;
     left: 50%;
     transform: translateX(-50%);
 }
 
 
 .input-field{
     background: #eaeaea;
     margin: 15px 0;
     border-radius: 3px;
     display: flex;
     align-items: center;
     max-height : 65px;
     transition: max-height 0.5s;
     overflow : hidden;
 }
 
 input{
     width: 100%;
     background: transparent;
     border: 0;
     outline: 0;
     padding: 18px 15px;
 }
 
 .input-field i{
     margin-left: 15px;
     color: #999;
 }
 form p{
    text-align:left;
    font-size:13px;
}

form p a{
    text-decoration: none;
    color: #5f30e2;
}

 .btn-field{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.btn-field button{
    flex-basis: 48%;
    background: #5f30e2;
    color: #fff;
    height: 40px;
    border-radius: 20px;
    border: 0;
    outline: 0;
    cursor: pointer;
    transition: background 1s;
}
.input-group{
    height:280px;
}
.btn-field button.disable{
    background: #eaeaea;
    color: #555;
    }
