

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(0,0,0,0.7);
}

.wrapper .card{
    max-width: 300px;
    background-color: white;
    padding: 40px;
    margin: 30px 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 10px -1px rgba(10,99,169,0.16),3px 3px 10px -1px rgba(255,255,255,0.7);
}

.wrapper .card.active{
    background-color: #5f30e2;
    transform: scale(1, 1.09);
}

.wrapper .card.active .ribbon-wrap{
    width: 150px;
    height: 150px;
    overflow: hidden;
    position: absolute;
    top: -10px;
    left: -10px;
}

.wrapper .card.active .ribbon-wrap::before, .ribbon-wrap::after{
    content: '';
    width: 10px;
    height: 10px;
    background-color: #f2467b;
    position: absolute;
    z-index: -1;
}

.wrapper .card.active .ribbon-wrap::before{
    top: 0;
    right: 0;
}

.wrapper .card.active .ribbon-wrap::after{
    bottom: 0;
    left: 0;
}

.wrapper .card.active .ribbon{
    width: 225px;
    font-size: 20px;
    text-align: center;
    padding: 8px 0;
    background: #ff2166;
    color: #fff;
    position: absolute;
    transform: rotate(-45deg);
    right: -17%;
    top: 29%;
}

.wrapper .card h3{
    margin-bottom: 15px;
}

.wrapper .card h1{
    margin-bottom: 10px;
    font-size: 2.5rem;
    color: rgba(0,0,0,1);
}

.wrapper .card.active h1{
    color: rgba(255,255,255,1);
    padding: 13px 0;
}

.wrapper .card h1 span{
    font-size: 12px;
    color: rgba(0,0,0,0.7);
}

.wrapper .card.active h1 span{
    color: rgba(255,255,255,0.9);
}

.wrapper .card p{
    margin: 20px 0;
    color: rgba(0,0,0,0.6);
    font-size: 14px;
    line-height: 1.5;
}

.wrapper .card.active p{
    color: rgba(255,255,255,1);
}

.wrapper .card ul{
    list-style: none;
}

.wrapper .card ul li{
    line-height: 3;
    color: rgba(0,0,0,0.9);
}

.wrapper .card.active li{
    color: rgba(255,255,255,0.9);
}

.wrapper .card ul li i{
    margin-right: 10px;
    color: rgba(0,0,0,0.4);
}

.wrapper .card ul li s{
    margin-right: 10px;
    color: rgba(0,0,0,0.4);
}

.wrapper .card.active li i{
    color: rgba(255,255,255,0.9);
}

.wrapper .card a{
    margin: 20px 0;
    text-align: center;
    display: block;
    text-decoration: none;
    border: 1px solid #5f30e2;
    color: #5f30e2;
    padding: 15px;
    font-weight: bold;
    transition: 0.4s;
    border-radius: 5px;
}

.wrapper .card.active a{
    background-color: white;
    color: rgba(0,0,0,0.8);
}

.wrapper .card a:hover{
    background-color: #5f30e2;
    color: white;
}

.wrapper .card.active a:hover{
   border: 1px solid white;
}