*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: #31627c;
  text-decoration: none;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: #4fa6d5;
  text-decoration: none;
}

a:hover {
  color: #10161a;
  text-decoration: none;
}

#header.header-transparent {
  background: none;
}

#header .logo h1 {
  font-size: 28px;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

body {
  font-family: "Open Sans", sans-serif;
  color: #444;
}

a {
  color: #4fa6d5;
  text-decoration: none;
}

a:hover {
  color: #45beff;
  text-decoration: none;
}

#header {
  height: 80px;
  transition: all 0.5s;
  z-index: 997;
  transition: all 0.5s;
  background: rgba(0,0,0,0.2);
}

#header .logo h1 {
  font-size: 28px;
  margin: 0;
  padding: 4px 0;
  line-height: 1;
  font-weight: 400;
  letter-spacing: 3px;
  text-transform: uppercase;
}

#header .logo h1 a{
  color: #fff;
  text-decoration: none;
}

.navbar {
 height: 0px;
  float: right;
  padding: 0;
}

.navbar ul {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  align-items: center;
}

.navbar ul li a{
  position: relative;
  width: 20%;
}

.navbar li a{
  text-transform: uppercase;
  display: block;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0 10px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  color: #fff;
  white-space: nowrap;
  transition: 0.3s;
}
.navbar a:hover {
  color: #a2cce3;
}

 
.bg{
  background-image:linear-gradient(rgba(0,0,0,0.75),rgba(0,0,0,0.75)),url(../Images/bgimg.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 198vh;
  height: 100vh;
}